.ct-total{
    padding-bottom: 10px;
    align-self: end;
    position: relative;
    display:flex;
    flex-direction: column;
}

.ct-total::after{
    content:'';
    position: absolute;
    width:100%;
    border-bottom: dashed 2px var(--cr-main);
    top: -15px;
    left: 0px;
}

.display-total{
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: end;
}
.num-total{
    justify-self: end;
    padding-right: 20px;
}
.total-txt{
    padding-bottom: 5px;
}
.bt-area{
    display: flex;
    align-items: center;
    gap:20px;
}

.num-people{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.num-people p{
    color: var(--cr-light);
    font-weight: 600;
    margin: 0;
}

.bt-area{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.bt-area h1{
    grid-column: 2 / 3 ;
    text-align: center;
}
.sub{
    grid-column:  1 / 2;
    background-image:url(../../assets/ic_dec.png) ;
    background-repeat: no-repeat;
    background-position: center ;
}
.sum{
    grid-column:  3 / 4;
    background-image:url(../../assets/ic_inc.png) ;
    background-repeat: no-repeat;
    background-position: center ;
}