.bt-add-card{
    font-size:2em;
    font-weight: 700;
    color: grey;
    align-self: center;
    text-align: center;
    background: white;
    padding: 20px;
    width: 440px;
    height: 215px;
    margin:20px;
    border:none;
    box-shadow: 0px 5px 8px rgba(0,0,0, 10%) ;
}
.bt-add-card:hover{
    cursor:pointer;
}