.full-mini-card{
    display: flex;
}

.mini-card{
    position:relative;
    background: white;
    display: grid;
    grid-template-rows: 20% 80% ;
    grid-template-areas: 'more' 'card';
    width: var(--card-width);
    height: var(--mini-card-height);
    box-shadow: 0px 5px 8px rgba(0,0,0, 10%) ;
}

/* BOTÕES------------------------------------------------------------------------------------------------------- */
.bt-more{
    cursor: pointer;
    background-image: url(../../assets/ic_more.png);
    background-repeat: no-repeat;
    background-position: center ;
    width: 50px;
    height: 50px;
    grid-area: more;
    justify-self: end;
}

.bts-option{
    margin-left:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;

}

.button {
    cursor:pointer;
    background-color: var(--cr-main);
    width: 36px;
    height: 36px;
    border:none;
    box-shadow: -4px 4px 0 var(--cr-light);
    transition: transform 0.2s,  box-shadow 0.2s;
}
.button:hover{
    transform: scale(1.1) translateX(-2px);
    border: none;
    background-color: var(--cr-dark);
    box-shadow: -0px 4px 0 var(--cr-light);
}
.delete{
    background-image:url(../../assets/ic_delete.png) ;
    background-repeat: no-repeat;
    background-position: center ;
}
.duplicate{
    background-image:url(../../assets/ic_duplicate.png) ;
    background-repeat: no-repeat;
    background-position: center ;
}



/* ------------------------------------------------------------------------------------------------------ */

.mini-card-name{
    margin-top: 8px;
    text-align: center;
    align-self: start;
    border: none;
    color: var(--cr-main);
    font-weight: 800;
    font-size: 2em;
}

.mini-card-name::after{
    content:'';
    position: absolute;
    width:90%;
    border-bottom: dashed 2px var(--cr-main);
    bottom: calc(50% + 14px);
    left: 18px;
}

.mini-body{
    cursor: pointer;
    position: relative;
    grid-area: card;
    display: grid;
}

.mini-total{
    align-self:end;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: end;
}

.mini-total-txt{
    justify-self:start;
    padding-left: 20px;
    padding-bottom: 5px;
    color:var(--cr-main);
}
.mini{
    justify-self:end;
    padding-right: 20px;
}