.card{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 360px;
    margin:20px;
    box-shadow: 0px 5px 8px rgba(0,0,0, 10%) ;
}
.card:hover{
    cursor:pointer;
}
.card-name{
    text-align: center;
    width: 100%;
    border: none;
    font-size: 1.5em;
}