.card{
    background: white;
    display: grid;
    grid-template-rows: 50px 1fr 125px;
    height: 90vh;
    padding: 20px;
    width: 340px;
    box-shadow: 0px 5px 8px rgba(0,0,0, 10%) ;
}

@media screen and (max-width: 530px){
    .card{
        grid-template-rows: 50px 1fr 125px;
        height: calc(99.5vh - 60px);
        width: 99.5vw;
        padding: 0;
        box-shadow: none;
    }
}