.card-name{
    background: white;
    align-self: top;
    justify-self: center;
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    font-family: 'josefin Slab', serif;
    font-weight: 900;
    font-size: 1.5em;
}

.card-name input:focus{
    width: 100%;
    border-radius: 0;
    outline: solid 2px var(--cr-main);
}

.card-name::after{
    content:'';
    position: absolute;
    width:100%;
    border-bottom: dashed 2px var(--cr-main);
    bottom: 2px;
    left: 0px;
}

@media screen and (max-width: 525px){
    .card-name{
        width: 90%;
        align-self: center;
    }
    .card-name::after{
        bottom: -13px;
        width: 100%;
    }
}