:root{
  --cr-main:#543C52;
  --cr-bg:#F1E8E6;
  --cr-dark:#361D32;
  --cr-medium: #846A83;
  --cr-light:#CDB7CE;
  --cr-red:#FF5B57;
  --card-width: 350px;
  --mini-card-height:200px;
  --bk:530px;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}
body{
  font-family: 'Josefin Slab', serif;
  background: var(--cr-bg);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}  

.ct-all{
  height: 99vh;
  display: grid;
  grid-template-columns: 160px calc(100% - 160px);
  align-items: center;
}

.conteiner{
  display: grid;
  align-items:center;
  justify-content: center;
}

.card-list{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.month-total{
  padding: 20px;
  text-align: center;
}

.off{
  display: none;
}

.num-total{
  color: var(--cr-red);
  font-weight: 900;
  font-size: 2.5em;
}

.num-total span{
  color:var(--cr-medium);
  font-size: .3em;
  text-align: end;
}

.mini{
  font-size: 2.2;
}

@media screen and (max-width: 530px){
  .ct-all{
    height: 99.6vh;
    width: 99.6vw;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-columns: none;
    align-items: start;
  }
  .card-list{
    flex-direction: column;
  }
}