:root{
  --cr-main:#543C52;
  --cr-bg:#F1E8E6;
  --cr-dark:#361D32;
  --cr-medium: #846A83;
  --cr-light:#CDB7CE;
  --cr-red:#FF5B57;
  --card-width: 360px;
  --mini-card-height:200px;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}
body{
  font-family: 'Josefin Slab', serif;
  background: var(--cr-bg);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}  

.ct-all{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: center;
}

.conteiner{
  /* width: 100vw; */
  /* height: 100vh; */
  display: grid;
  align-items:center;
  justify-content: center;
}

.card-list{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.month-total{
  /* background: red; */
  padding: 20px;
  text-align: center;
}

.off{
  display: none;
}

.num-total{
  color: var(--cr-red);
  font-weight: 900;
  font-size: 3em;
}

.num-total span{
  color:var(--cr-medium);
  font-size: .3em;
}