:root{
  --cr-main:#543C52;
  --cr-bg:#F1E8E6;
  --cr-dark:#361D32;
  --cr-medium: #846A83;
  --cr-light:#CDB7CE;
  --cr-red:#FF5B57;
  --card-width: 360px;
  --mini-card-height:200px;
}


*{
  margin: 0;
}
body{
  font-family: 'Josefin Slab', serif;
  background: var(--cr-bg);
}

.card-list{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.month-total{
  /* background: red; */
  padding: 20px;
  text-align: center;
}

.off{
  display: none;
}

.num-total{
  color: var(--cr-red);
  font-weight: 900;
  font-size: 3em;
}

.num-total span{
  color:var(--cr-medium);
  font-size: .3em;
}